* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  scroll-behavior: smooth;
}
.account-balance {
  font-size: 2em;
  font-weight: 700;
  color: black;
}
.input-left-icon {
  cursor: pointer;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}
.input-left-icon:hover {
  color: #007cff;
  font-weight: 700 !important;
}
.input-left-icon[disabled],
.input-left-icon[disabled]:hover {
  color: gray;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dpp img {
  display: none;
}
::-webkit-scrollbar {
  width: 7px;
  margin-right: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.3);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
#wb {
  padding-top: 100px;
}
section {
  display: flex;
}
.nbs section,
.bs section {
  display: flex;
  min-height: 100vh;
}
.nbs .b,
.bs .b {
  background-color: #007cff;
  width: 14%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em;
  position: fixed;
}
.nbs .name,
.bs .name {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1em;
}
.nbs .menu p,
.bs .menu p {
  background: transparent;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1.1em;
  font-weight: 400;
}
.nbs .d:hover,
.bs .d:hover {
  background: rgba(0, 0, 0, 0.35);
}
.nbs .d,
.bs .d {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
.nbs .menu hr,
.bs .menu hr {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top-width: 0px;
  border-bottom-width: 0.1em;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: rgba(255, 255, 255, 0.35);
}
.nbs .menu2 hr,
.bs .menu2 hr {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top-width: 0px;
  border-bottom-width: 0.1em;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: rgba(255, 255, 255, 0.35);
}
.nbs .menu2 p,
.bs .menu2 p {
  background: transparent;
  color: #fff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0.5em;
  font-size: 1em;
  font-weight: 400;
}
.nbs .menu2 p1,
.bs .menu2 p1 {
  margin-left: 2em;
  font-size: 0.75em;
  font-weight: 200;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}
.nbs .lowermenu,
.bs .lowermenu {
  vertical-align: bottom;
}
.nbs .footer a,
.bs .footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75em;
  font-weight: 200;
}
.nbs .b .footer,
.bs .b .footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}
.nbh header.sticky,
.bs header.sticky {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 0.5em 0.5em;
}
.b {
  background-color: #007cff;
  max-width: 25%;
  align-content: center;
  padding: 3.5em;
  max-height: 100vh;
}
.bw {
  background-color: #007cff;
  width: 30%;
  min-width: 380px;
  max-width: 30%;
  align-content: center;
  padding: 20px 30px 0px 30px;
}
.nbh header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(28, 82, 152, 0.15);
  padding: 1em 1em;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.nbh header .logo {
  color: #007cff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
.nbh header ul {
  position: relative;
  display: flex;
}
.nbh header ul li {
  position: relative;
  list-style: none;
}
.nbh header ul li a {
  position: relative;
  display: inline-block;
  margin: 1em 1em;
  color: #007cff;
  text-decoration: none;
}
.nbh header ul li a p {
  font-size: 1em;
  padding-left: 0.3em;
}
.nbs .w {
  background-color: white;
  width: 100%;
  min-width: fit-content;
  padding: 2%;
  margin-right: 0;
  margin-left: 206px;
}
.bs {
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 795px;
}
.bs .q {
  background-color: white;
  width: 100%;
  padding: 1em 1.2em 0px 1.5em;
  margin-left: 13.5%;
}
a {
  text-decoration: none;
  color: #007cff;
}
.nbs .greeting p {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 2px;
  color: #2a2a2a;
  padding-left: 1.65em;
}
.nbs .w .card {
  text-align: center;
  margin-top: 60px;
}
.nbs .card p {
  font-size: 1em;
  font-weight: 400;
  color: #2a2a2a;
  margin: 5px;
}
.nbs button {
  background-color: #007cff;
  border: none;
  padding: 1em;
  font-size: 1em;
  border-radius: 0.4em;
  color: #fff;
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
  margin: 0.5em;
  cursor: pointer;
}
.nbs h1 {
  padding-top: 20px;
  padding-left: 20px;
}
.name {
  display: flex;
  align-items: center;
}
.title {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.logo {
  padding-right: 10px;
}
.logo img {
  width: 30px;
}
.ilus {
  margin-bottom: 50px;
  margin-top: 50px;
}
.ilus img {
  width: 96px;
}
.text {
  color: white;
}
h2 {
  margin-bottom: 40px;
  color: #bfdeff;
  font-weight: 1000;
  font-size: 36px;
}
.text p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 1.5;
}
.buttons {
  display: flex;
}
.w {
  background-color: #fff;
  width: 75%;
  padding-left: 2%;
  padding-top: 3%;
  min-height: 100vh;
}
.wb {
  background-color: #fff;
  width: 100%;
  padding: 20px 20px 0px 30px;
  min-height: 100vh;
}
.wb .wbb {
  align-content: center;
}
h1 {
  font-size: 32px;
}
#ques {
  margin: 10px 0 0 0;
}
form input {
  font-size: 1em;
  border: none;
  outline: none;
  background: #f4f7f9;
  color: #007cff;
  border-radius: 5px;
  width: 444px;
  height: 2.5em;
  margin-top: 5px;
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  padding: 0.3em 1em;
  color: black;
}

form p {
  color: #2a2a2a;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
input[type="submit"] {
  background-color: #007cff;
  color: white;
  width: fit-content;
  min-width: 150px;
  cursor: pointer;
  margin: 0;
}
input[type="submit"]:disabled,
input[type="submit"][disabled] {
  background-color: grey;
  cursor: not-allowed;
}
.check {
  align-items: center;
}
.check a {
  padding: 0px 5px 0px 5px;
}
.create {
  margin-bottom: 1em;
  margin-top: 2em;
}
.forgot p {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  padding: 0;
}
form p input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
  cursor: pointer;
  height: auto;
}
#lg {
  display: none;
}
.q .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dp {
  width: 48px;
  text-align: right;
}
.dp img {
  width: 100%;
  border-radius: 100%;
  height: 2.4em;
}
.screen {
  width: 100%;
  /* height: 75vh; */
  margin-top: 10px;
  display: flex;
}
.ef {
  background: #ffffff;
  display: flex;
  width: 60%;
  color: #727376;
  flex-direction: column;
}
hr {
  border-top: 0;
  margin-top: 0.4em;
}
.gh {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #727376;
}
.e,
.f {
  margin: 5px;
  box-shadow: 0px 0px 15px 5px rgba(54, 65, 86, 0.1);
  border-radius: 5px;
  /* height: 43vh; */
  padding: 20px 10px 5px 10px;
}
.g,
.h {
  margin: 5px;
  box-shadow: 0px 0px 15px 5px rgba(54, 65, 86, 0.1);
  border-radius: 5px;
  /* height: 43vh; */
  padding: 20px 10px 5px 10px;
}

.e,
.g {
  height: 30vh;
}
.f,
.h {
  height: 58vh;
}
.d img {
  width: 12px;
  height: 12px;
}
.balance {
  background-color: #f5fbff;
  width: 100%;
  margin-top: 2em;
  border-radius: 0.5em;
  height: 40%;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
}
.ud {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 2.5em;
  margin-right: 3em;
}
.in,
.de {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.in {
  margin-right: 5px;
}
.de {
  margin-left: 5px;
}
.in img,
.de img {
  margin-right: 5px;
  height: 3em;
}
.ud p {
  font-size: 1em;
}
.ud .figure {
  font-weight: 600;
}
.rrsa .rr,
.rrsa .s {
  font-size: 1em;
  margin: 5px 5px 5px 0px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: none;
  padding: 3px 7px 3px 7px;
}
.rrsb .rc,
.rrsb .s {
  font-size: 1em;
  margin: 5px 5px 5px 0px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: none;
  padding: 3px 7px 3px 7px;
}
.rrsc .rc,
.rrsc .rr {
  font-size: 1em;
  margin: 5px 5px 5px 0px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: none;
  padding: 3px 7px 3px 7px;
}
.rrsa .rc {
  font-size: 1em;
  margin: 5px 5px 5px 0px;
  outline: none;
  border-color: #007cff;
  border-width: 1px;
  border-radius: 20px;
  background: none;
  padding: 3px 7px 3px 7px;
}
.rrsb .rr {
  font-size: 1em;
  margin: 5px 5px 5px 0px;
  outline: none;
  border-color: #007cff;
  border-width: 1px;
  border-radius: 20px;
  background: none;
  padding: 3px 7px 3px 7px;
}
.rrsc .s {
  font-size: 1em;
  margin: 5px 5px 5px 0px;
  outline: none;
  border-color: #007cff;
  border-width: 1px;
  border-radius: 20px;
  background: none;
  padding: 3px 7px 3px 7px;
}
.h {
  overflow: scroll;
}
.item {
  display: flex;
  padding: 5px 10px 0px 10px;
  align-items: center;
  cursor: pointer;
}
.item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.txt {
  width: 100%;
}
.btxt {
  display: flex;
  font-size: 1em;
  font-weight: 600;
  justify-content: space-between;
}
.stxt {
  display: flex;
  font-size: 1em;
  font-weight: 400;
  justify-content: space-between;
}
.bnav {
  display: none;
}
.question {
  margin-left: 10px;
}
.mobileview {
  display: none;
}
#myBtn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#myBtn:hover,
#myBtn:focus {
  transform: scale(0.9);
  transition: 0.5s;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*responsive*/
@media (max-width: 991px) {
  #ind .i {
    margin: 1em;
    text-align: center;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
  }
  #ind {
    display: block;
  }
  #inc {
    display: flex;
  }
  #indo {
    width: 100%;
  }
  #indo .name {
    padding: 1em 1em;
  }
  #indo .title {
    color: #007cff;
  }

  .i .ilus img {
    width: 15em;
  }
  .i .ilus {
    width: 100%;
  }
  .i .text {
    width: 100%;
  }
  .i .text p {
    color: #2a2a2a;
  }
  .i .buttons {
    width: 100%;
    display: block;
    margin-top: 1em;
  }
  .i .buttons button {
    margin: 1em 3em;
    background-color: #007cff;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    padding: 1em 2em;
    cursor: pointer;
    width: max-content;
  }
  .bw {
    min-width: 285px;
  }
  h2 {
    font-size: 28px;
  }
  h1 {
    font-size: 29px;
  }
  #login {
    background-color: #f4f7f9;
    color: #007cff;
  }
  .j img {
    width: 20em;
  }
  .j {
    width: 50%;
    margin: 0em 1em 1em 1em;
    text-align: center;
    align-items: center;
  }
  .b {
    background-color: #007cff;
    max-width: 30%;
    min-width: fit-content;
    align-content: center;
    padding: 2em;
  }
  .nbh header {
    display: none;
  }
  .title {
    color: white;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.5em;
  }
  .text {
    color: white;
    width: 100%;
  }
  .text p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }
  .buttons {
    display: flex;
  }
  .w {
    background-color: #fff;
    width: 70%;
    padding-left: 10%;
    margin-right: 5%;
    padding-top: 5%;
    min-height: 100vh;
  }
  form p {
    color: #2a2a2a;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  input[type="submit"] {
    resize: none;
    font-size: 14px;
  }
  form input {
    width: 100%;
    max-width: 395px;
  }
  form p input[type="checkbox"] {
    background-color: #007cff;
    color: white;
  }
  a {
    text-decoration: none;
    color: #007cff;
  }
  .check p {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
  }
  .check {
    width: 100%;
  }
  .create {
    font-size: 14px;
  }
  .question {
    font-size: 14px;
  }
  .forgot p {
    font-size: 14px;
    font-weight: 400;
  }
  #lg {
    display: none;
  }
  .q .top,
  .w .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .dp {
    text-align: right;
  }
  .dp img {
    width: 100%;
    border-radius: 100%;
  }
  .screen {
    height: 800px;
    margin-top: 20px;
    flex-direction: column;
  }
  .ef {
    margin-top: 0;
    height: 500px;
    background: #ffffff;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    color: #727376;
  }
  hr {
    border-top: 0;
    margin-top: 0.4em;
  }
  .gh {
    background: #ffffff;
    flex-direction: row;
    width: 100%;
    color: #727376;
    justify-content: space-between;
  }
  .e,
  .f {
    width: 100%;
    height: 100%;
    margin: 5px 0px 5px 0px;
  }
  .g,
  .h {
    width: 49%;
    min-height: 36vh;
    margin: 0;
    box-shadow: 0px 0px 15px 5px rgba(54, 65, 86, 0.1);
    border-radius: 5px;
  }
  .d img {
    width: 12px;
    height: 12px;
  }
  .balance {
    background-color: #f5fbff;
    width: 100%;
    margin-top: 0.8em;
    border-radius: 0.5em;
    height: 40%;
    text-align: center;
    padding: 1em;
  }
}
/*responsive*/
@media (max-width: 600px) {
  .w {
    display: none;
  }
  #wb {
    padding-top: 5px;
  }
  #lg {
    display: flex;
    padding-left: 5%;
    justify-content: center;
  }
  .card img {
    width: 250px;
  }
  .w .top {
    display: none;
  }
  .mtop {
    display: flex;
  }
  .mtop .greeting h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .mtop .greeting p {
    font-size: 14px;
    font-weight: 400;
  }
  .mtop img {
    width: 48px;
    margin-right: 10px;
  }
  .dpp img {
    width: 48px;
    border-radius: 100%;
    display: block;
  }
  .bw {
    display: none;
  }
  .b {
    min-width: 100%;
    width: 100%;
    max-width: none;
    background-color: #fff;
    margin: 0.3em;
    height: 100vh;
    flex-direction: column;
  }
  .bs {
    display: none;
  }
  .wb {
    width: 100%;
    padding: 10px 20px 0 20px;
    min-height: 50vh;
  }
  .wb input {
    width: 100%;
    max-width: none;
  }
  .title {
    color: #007cff;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.2em;
  }
  h2 {
    margin-bottom: 0.5em;
    color: #007cff;
    font-weight: 800;
    font-size: 2em;
  }
  .text p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
    color: #5b5b5b;
  }
  .text {
    text-align: center;
    width: 100%;
  }
  .ilus {
    text-align: center;
  }
  .ilus img {
    width: 30%;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .buttons button {
    margin: 1em 3em;
    background-color: #007cff;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    padding: 1em 2em;
    cursor: pointer;
    width: max-content;
  }
  #login {
    background-color: #f4f7f9;
    color: #007cff;
  }
  .m {
    margin: 1em;
    background-color: #fff;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    justify-items: space-around;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    padding: 2em 10%;
  }
  form input {
    padding: 2%;
    padding-left: 4%;
    font-size: 0.8em;
    border: none;
    outline: none;
    background: #f4f7f9;
    color: #007cff;
    resize: both;
    border-radius: 0.5em;
    width: 100%;
    height: 3em;
    margin-top: 1%;
  }
  form p {
    color: #2a2a2a;
    padding-top: 2em;
    font-size: 1em;
    font-weight: 400;
  }
  input[type="submit"] {
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  a {
    text-decoration: none;
    color: #007cff;
  }
  .check p {
    font-size: 0.75em;
    font-weight: 400;
    margin-bottom: 1.5em;
    align-items: center;
  }
  .check {
    display: flex;
    align-items: center;
  }
  .create {
    display: block;
    font-size: 0.75em;
    padding-top: 0.5em;
  }
  #ques {
    margin: 0;
  }
  .question {
    padding-top: 10px;
    padding: 0.5em 0em 0.5em 0em;
    font-size: 0.9em;
    margin: 0;
  }
  .forgot p {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
  }
  #ff {
    display: flex;
    justify-content: space-between;
  }
  #cc input[type="submit"] {
    width: 100%;
  }
  #fp p {
    font-size: 1em;
    font-weight: 400;
    margin-top: 0.5em;
  }
  .wb input[type="submit"] {
    font-size: 0.8em;
  }
  .wb h1 {
    font-size: 1.2em;
  }
  .nbh header {
    display: flex;
  }
  .nbh header.sticky {
    padding: 1em 1em;
    z-index: 1000;
  }
  .nbh .menu {
    position: fixed;
    top: 5em;
    left: -100%;
    display: block;
    padding: 1em 1em;
    text-align: left;
    max-width: 50%;
    min-width: fit-content;
    height: 100vh;
    background: #007cff;
    transition: 0.5s;
    z-index: 999;
  }
  .nbh .menu.active {
    left: 0;
  }
  .nbh header ul li a {
    color: #fff;
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  .nbs .b {
    display: none;
  }
  .nbs .w {
    margin: 0;
    display: block;
  }
  .nbs .w .card {
    margin-top: 200px;
  }
  .j {
    display: none;
  }
  #ind .i {
    width: 100%;
  }
  .card h3 {
    font-size: 14px;
    font-weight: 700;
  }
  .nbs .card p {
    font-size: 12px;
  }
  .bnav {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px -2px 4px rgba(54, 65, 86, 0.1);
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    cursor: pointer;
  }
  .dbot {
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
  }
  .mobileview {
    padding: 90px 0px 50px 0px;
    background-color: #f4f7f9;
    display: block;
  }
  .all {
    width: 100%;
  }
  .actsmry {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .actavt {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .actexp {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .rctcat {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .subt {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .mtm {
    display: flex;
    justify-content: space-between;
  }
  h7 {
    font-size: 16px;
    font-weight: 700;
  }
  .mtm h8 {
    font-size: 14px;
    color: rgba(114, 115, 118, 1);
    font-weight: 500;
  }
  .mbal {
    background: #007cff;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 72px;
    margin-top: 20px;
  }
  .ybal {
    font-size: 12px;
  }
  .yfig {
    font-size: 16px;
    font-weight: 600;
  }
  .inout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .inm,
  .outm {
    display: flex;
    height: 36px;
  }
  .inm img,
  .outm img {
    margin-right: 5px;
  }
  .labm {
    font-size: 12px;
    color: #727376;
  }
  .valm {
    font-size: 14px;
    color: #364156;
    font-weight: 600;
  }
  .actgraph {
    height: 184px;
  }
  .actexp .pich {
    text-align: center;
    padding: 20px;
  }
  .item img {
    height: 48px;
    width: 48px;
  }
  .item {
    padding: 10px 0px 10px 0px;
  }
  .expd {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  .blist .item {
    padding: 5px 0px 5px 0px;
  }
  .blist .item img {
    width: 36px;
    height: 36px;
  }
  .txt hr {
    border-width: 3px;
    border-color: #007bff60;
    line-height: 1;
  }
  .bgt {
    background: #007cff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}
