body,
section,
article,
aside,
header,
footer,
main {
  display: block;
  margin: 0;
}

nav {
  padding: 1% 12%;
  border-bottom: 1px solid #1c5298;
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo-text {
  font-family: "Paytone One";
  margin-left: 10px;
  font-size: 20px;
}

#option {
  font-family: Poppins;
  font-size: 20px;
  color: #007cff;
}
#menu {
  font-size: 1.7em;
  cursor: pointer;
}

footer {
  min-height: 13vh;
  background-color: #007cff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

button {
  padding: 10px 50px;
  border-radius: 5px;
  border-color: transparent;
  font-family: Poppins;
  color: white;
  background-color: #007cff;
  font-size: 16px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}
button:disabled {
  background-color: #fff;
  color: black;
  cursor: no-drop;
  border: 1px solid #007cff;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  height: 48px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #bfdeff;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
  color: black;
}

.accent-text {
  color: #007cff;
}
.lighter-text {
  color: #19365e;
}
.darker-text {
  color: #1c5298;
}
.major-text {
  font-family: "Paytone One";
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 20px;
}
.mid-text {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
}
.small-text {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 30px;
}

label {
  display: block;
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  #menu {
    font-size: 1.4em;
  }
  footer {
    position: unset;
  }
  nav {
    padding: 3% 5%;
  }
  button[type="submit"] {
    margin-top: 15px;
  }
  .major-text {
    font-size: 60px;
    line-height: 60px;
  }
  .mid-text {
    font-size: 18px;
    line-height: 26px;
  }
  .small-text {
    font-size: 13px;
    line-height: 28px;
  }
}
